.contactContainer {
    width: 100%;
}

.contactContainer .dataFormContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    
}

@media only screen and (max-width: 700px) {
    .contactContainer .dataFormContainer {
        grid-template-columns: 1fr;
    }
}
.contactContainer .dataFormContainer p {
    margin: 15px 0 3px 0;
}

.contactContainer .dataFormContainer div {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
}

.contactText {
    font-family: Verdana;
    font-size: 16px;
}

.contactText h3 {
    font-size: 18px;
    font-weight: bold;
    padding: 2px 0 5px 0;
    margin: 0;
}

.contactTextList {
    padding: 0;
}

.contactTextList li {
    background: url(../../../images/details_bg2.png) left top no-repeat;
    padding: 10px 0 0 0;
}

.contactTextList li h5 {
    margin: 0;
    font-size: 14px;
}

.callBackText {
    font-size: 18px;
    font-weight: bold;
}

.input_1 {
    width: 98%;
    height: 20px;
    padding: 1%;
    margin: 0;
}

.textArea {
    width: 98%;
    height: 97px;
    resize: vertical;
    padding: 1%;
    margin: 0;
}

.mapContainer {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    margin: 20px 0 20px 0;
}

.contactFormContainer label {
    display: block;
    margin: 10px 0 3px 0;
}
.submitButton {
    width: 50%;
    height: 30px;
    padding: 0;
    margin: 10px 0 0 0;
    background-color: #d6d8ff;
    border: 1px solid #000;
    font-size: 85%;
}

.messageStatusLoader {
    display: block;
    min-width: 49%!important;
    padding: 0!important;
    height: 50px;
    background: url(../../../images/loader.gif) top left no-repeat;
    float: right;
}
.messageStatus {
    display: block;
    padding: 15px 0 0 0;
    font-size: 16px;
    font-weight: bold;
    color: green;
    min-width: 100px;
    float: right;
}
.messageError {
    color: red!important;
}

