.productDiv {
    padding: 2%;
    border: 1px solid rgb(80, 67, 67);
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 10px;
}
.productDiv .container {
    display: grid;
    grid-template-columns: minmax(100px, 400px) 1fr;
    column-gap: 30px;
}

.productDiv img {
    margin-right: 20px;
    border: 1px solid rgb(80, 67, 67);
    border-radius: 4px;
}

.productDiv .discriptionContainer strong {
    display: block;
    padding: 10px 0 10px 0;
    text-decoration: underline;
    font-style: italic;
}

.productDiv .container b {
    display: block;
    float: right;
    padding: 20px 10px 0 0;
    color: brown;
}

.productDiv .container ul {
    padding: 0;
}
.discriptionName {
    font-weight: bold;
}

.discriptionList li {
    line-height: 2rem;
}

@media only screen and (max-width: 700px) {
    .productDiv img {
        width: 100%;
    }
    .productDiv .container {
        grid-template-columns: 100%;
    }
}
.productDiv p {
    margin-top: 0;
    font-size: 16px;
    line-height: 2em;
}

.productDiv span {
    padding-bottom: 5px;;
}
.productDiv a {
    text-decoration: none;
}

.productDiv a.active {
    text-decoration: blue;
}

.productDiv a:hover {
    text-decoration: underline;
}

.titleDiv {
    
    background: url(../../../../images/headline_bg5.png) left bottom  no-repeat;
    margin-bottom: 10px;
}
.titleDiv h3 {
    padding-bottom: 5px;
    margin: 0;
}