.productDiv {
    border: 1px solid rgb(80, 67, 67);
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 10px;
    display: grid;
    padding: 10px;
}
.productDiv .container {
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2%;
}
.leftContainer {
    box-sizing: border-box;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 32.33333%;
    flex-basis: 32.33333%; 
}

.productDiv .discriptionContainer {
    box-sizing: border-box;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 65.66667%;
    flex-basis: 65.66667%;
}

.productDiv img {
    display: block;
    border: 1px solid rgb(80, 67, 67);
    border-radius: 4px;
    background: url(../../../../images/loader.gif) top center no-repeat;
    min-height: 50px;
}

.productDiv .discriptionContainer strong {
    display: block;
    padding: 10px 0 10px 0;
    text-decoration: underline;
    font-style: italic;
}

.productDiv .container b {
    display: block;
    float: right;
    padding: 20px 10px 0 0;
    color: brown;
}

.productDiv .container ul {
    padding: 0;
}
.discriptionName {
    font-weight: bold;
}

.discriptionList li {
    line-height: 2rem;
}

@media only screen and (max-width: 700px) {
    
    .productDiv .leftContainer {
        max-width: 100%;
        flex-basis: 100%;
        width: calc(100vw - 60px);
    }
    .productDiv .discriptionContainer {
        max-width: 100%;
        flex-basis: 100%;
    }

}
.productDiv p {
    margin-top: 0;
    font-size: 16px;
    line-height: 2em;
}

.productDiv span {
    padding-bottom: 5px;;
}
.productDiv a {
    text-decoration: none;
}

.productDiv a.active {
    text-decoration: blue;
}

.productDiv a:hover {
    text-decoration: underline;
}

.titleDiv {
    
    background: url(../../../../images/headline_bg5.png) left bottom  no-repeat;
    margin-bottom: 10px;
}
.titleDiv h3 {
    padding-bottom: 5px;
    margin: 0;
}