
/*---------------------container block------------------*/
.productDiv {
    border: 1px solid rgb(80, 67, 67);
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.productDiv a {
    text-decoration: none;
}
.productDiv a.active {
    text-decoration: blue;
}
.productDiv a:hover {
    text-decoration: underline;
}


/* ------------------title block----------------------- */
.titleDiv { 
    background: url(../../../../images/headline_bg5.png) left bottom  no-repeat;
    margin-bottom: 10px;
   grid-row: 1/2;
}
.titleDiv h3 {
    padding-bottom: 5px;
    margin: 0;
}

/*------------------Image block-------------------------*/
.productDiv .imageContainer {
    width: 100%;
}
.productDiv .imageContainer div {
    width: 100%;
}
.productDiv .imageContainer img {
    
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .productDiv imageContainer {
        width: 100%;
    }
    /* .productDiv img {
        width: 100%;
    } */
}

/* ----------------------Discription block--------------------*/
.discriptionContainer {
    
 
}
.discriptionContainer p{
    font-size: 16px;
    line-height: 2em;
}
.discriptionContainer ul li {
    display: block;
    padding: 10px 0 0 0;
    
}
@media only screen and (max-width: 600px) {
    .productDiv .discriptionContainer {
       
    }
}